{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Post a Food Spot - ChopAlert</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <header>
        <h1>📍 Post a Food Spot</h1>
        <a href="{% url 'home' %}">← Back to Home</a>
    </header>

    <div class="form-card">
        <h2>Enter Spot Details</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_food_type">Food Type:</label>
            {{ form.food_type }}

            <label for="id_description">Description:</label>
            {{ form.description }}

            <label for="id_photo">Upload Photo:</label>
            {{ form.photo }}

            <label>Pick Spot Location:</label>
            <div id="map"></div>
            <div id="location-info">Click on the map to pick a location</div>

            {{ form.latitude.as_widget }}
            {{ form.longitude.as_widget }}

            <button type="submit">Submit Spot</button>
        </form>
    </div>

    {% if messages %}
    <div id="toast" class="toast">
        {% for message in messages %}
        <div class="toast-message">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}


    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script>
        const map = L.map('map').setView([6.5244, 3.3792], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        let marker;

        map.on('click', function (e) {
            if (marker) {
                map.removeLayer(marker);
            }
            marker = L.marker(e.latlng).addTo(map);
            document.getElementById('id_latitude').value = e.latlng.lat.toFixed(6);
            document.getElementById('id_longitude').value = e.latlng.lng.toFixed(6);
            document.getElementById('location-info').innerHTML =
                `Food spot location selected: ${e.latlng.lat.toFixed(5)}, ${e.latlng.lng.toFixed(5)}`;
        });
    </script>
</body>

</html>